<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Chat-Room</title>   
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/customCSS/common.css"> 
    <link rel="icon" href="/background/logo.png">

</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#" style="color: #fed136;"><img src="/background/logo.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Chat-Room</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                             <a class="nav-link" href="/">Home</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link active" href="#">Guide</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                        </li>
                    </ul>
                </div>
    </nav> 

    <div class="container">
      <div class="row">
           <div class="col col-1">
           </div>
           <div class="col col-10">
              <br><br><br><br>
               <h2 class="shadow-sm bg-white rounded text-center p-1" style="font-family: 'Kaushan Script';">Follow the steps below:</h2>
               <ol>
                 <li class="font-weight-normal mb-1">Type your username</li>
                 <li class="font-weight-normal mb-1">Type any room which you want to join</li>
                 <li class="font-weight-normal mb-1">Tell your friends to join that room</li>
                 <li class="font-weight-normal mb-2">Now you are ready to chat with all the members present in your room</li>
               </ol>
               <br>
               <h2 class="shadow-sm bg-white rounded text-center mt-3 p-1" style="font-family: 'Kaushan Script';">Note:</h2>
               <ul class="font-weight-normal mb-0">
                  <li>No bad words allowed</li>
                  <li>A user can join as many rooms</li>
                </ul>
                <br>
           </div>
           <div class="col col-1">
           </div>
      </div>
</div>

    <br>
    <footer class="py-4 bg-dark fixed-bottom">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Chat Room 2019</p>
        </div>
    </footer>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
        
  </body>
  </html>
<body>
    
    
   