<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
    <title>Chat-Room</title>   
    
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/customCSS/common.css"> 
    <link rel="stylesheet" href="/css/styles.min.css">
    <link rel="icon" href="/background/logo.png">

</head>

<body>
    <nav class="navbar fixed-top navbar-expand-lg navbar-dark bg-dark">
                <a class="navbar-brand" href="#" style="color: #fed136;"><img src="/background/logo.svg" width="30" height="30" class="d-inline-block align-top" alt=""> Chat-Room</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto">
                        <li class="nav-item">
                             <a class="nav-link active" href="#">Home</a>
                        </li>
                        <li class="nav-item">
                             <a class="nav-link" href="guide">Guide</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="about">About</a>
                        </li>
                    </ul>
                </div>
    </nav> 

    <div class="container col-12 p-0">

            <div class="centered-form">
                    <div class="centered-form__box">
                        <p class="h1" style="font-family: 'Kaushan Script';">JOIN</p><br>
                        <form action="chat">
                            <label class="h6">Username</label>
                            <input class="shadow-sm bg-white rounded p-2" maxlength="18" type="text" name="username" placeholder="@username   {max-length-18}" required>
                            <label class="h6">Room</label>
                            <input class="shadow-sm bg-white rounded p-2" maxlength="15" type="text" name="room" placeholder="@room          {max-length-15}" required>
                            <button>Join</button>
                        </form>
                    </div>
                </div>
   </div>

    <footer class="py-4 bg-dark fixed-bottom">
        <div class="container">
          <p class="m-0 text-center text-white">Copyright &copy; Chat Room 2019</p>
        </div>
    </footer>

    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/jquery-3.4.1.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/bootstrap.bundle.min.js"></script>
        
  </body>
  </html>
<body>
    
    
   